#Hypoglycemia Detection
##Data Wrangling Phase

In [122]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import math
from datetime import datetime

In [123]:
##################################################################################
###We will read the data from files and create dataframes in this snippet.########
##################################################################################


#Read files using relative local path
fileNames = glob.glob("../Data/d*")

df = pd.DataFrame([]) # defining a dataframe
for i in range(len(fileNames)):
    # Read files and save as dataframe.
    frames = pd.read_csv(fileNames[i], sep='\t', header=None, names=['Date', 'Time',  'Code','Blood_Glucose'])
    
    #Create patient id column from the name of the file. This uniquely identifies a patient.
    frames['Patient_ID']= fileNames[i][-2:]
    #Fill empty dates by ffill as there are many glucose readings in a day.
    frames['Date'] = frames['Date'].fillna(method='ffill')
  
    #Creating a master dataframe.
    df=df.append(frames)

#Change type of Code column to category.
df['Code'] = df['Code'].astype('category')

#Convert blood glucose column to numeric. By default it's object.
df['Blood_Glucose'] = pd.to_numeric(df['Blood_Glucose'], errors='coerce')

#Convert Code column to String.
df['Code'] = df['Code'].astype(str) 

#Print all distinct code values for validation. We can see few codes that are not found in the website data description
df['Code'].unique()

array(['58', '33', '34', '60', '62', '48', '65', '67', '56', '57', '64',
       '68', '71', '72', '70', '63', '61', '69', '66', '35', '59', '36',
       '0', '4'], dtype=object)

In [124]:
#Info on dataframe before cleanup.

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29330 entries, 0 to 299
Data columns (total 5 columns):
Date             29330 non-null object
Time             29330 non-null object
Code             29330 non-null object
Blood_Glucose    29278 non-null float64
Patient_ID       29330 non-null object
dtypes: float64(1), object(4)
memory usage: 1.3+ MB

In [125]:
#Step 1 : Remove rows where blood glucose is null. As no validations can be performed with out it.

df.drop(df.loc[df['Blood_Glucose'].isnull()].index, inplace=True)

df.head()

         Date   Time Code  Blood_Glucose Patient_ID
0  05-20-1991  08:00   58          101.0         31
1  05-20-1991  08:00   33            5.0         31
2  05-20-1991  08:00   34           27.0         31
3  05-20-1991  12:00   60           89.0         31
4  05-20-1991  12:00   33            3.0         31

In [126]:
#Step 2 : Add new column code description. The code is a number that defines the event during which the blood glucose
#was measured. It is more readable to have description than numbers.
#Create a dictionary with code and its description and map it.

###The codes are got from the data description itself. The data description does not give the details on all codes.
### They all are classified as unknowns.

code_dict ={"0" : "UNKNOWN",
            "4" : "UNKNOWN", 
            "33" : "REGULAR_INSULIN_DOSE", 
            "34" : "NPH_INSULIN_DOSE", 
            "35" : "ULTRALENTE_INSULIN_DOSE", 
            "36" : "UNKNOWN",
            "48" : "UNKNOWN", 
            "56" : "UNKNOWN",
            "57" : "UNKNOWN", 
            "58" : "PRE_BREAKFAST",
            "59" : "POST_BREAKFAST", 
            "60" : "PRE_LUNCH",
            "61" : "POST_LUNCH",
            "62" : "PRE_SUPPER",
            "63" : "POST_SUPPER",
            "64" : "PRE_SNACK", 
            "65" : "HYPOGLYCEMIC_SYMPTOMS", 
            "66" : "TYPICAL_MEAL_INJESTION", 
            "67" : "MORE_MEAL_INJESTION", 
            "68" : "LESS_MEAL_INJESTION", 
            "69" : "TYPICAL_EXERCISE",
            "70" : "MORE_EXERCISE",
            "71" : "LESS_EXERCISE",
            "72" : "UNKNOWN"}

df['Code_Description'] = df['Code'].map(code_dict)

df.head()

         Date   Time Code  Blood_Glucose Patient_ID      Code_Description
0  05-20-1991  08:00   58          101.0         31         PRE_BREAKFAST
1  05-20-1991  08:00   33            5.0         31  REGULAR_INSULIN_DOSE
2  05-20-1991  08:00   34           27.0         31      NPH_INSULIN_DOSE
3  05-20-1991  12:00   60           89.0         31             PRE_LUNCH
4  05-20-1991  12:00   33            3.0         31  REGULAR_INSULIN_DOSE

In [127]:
#Step 3: Clean date and time
#Procedure: Create new Date_Time column from Date and time. the 'to_datetime' method convert's the string to time if the
#string is a valid date else fills the cell as 'NaT'. We will use 'NaT' as a flag and fix the date and time step by step.

df['Date_Time'] = pd.to_datetime(df['Date'].str.strip()+" "+df['Time'].str.strip(), 
                                 format="%m-%d-%Y %H:%M", errors="coerce")

df.head()

,Date,Time,Code,Blood_Glucose,Patient_ID,Code_Description,Date_Time
0,05-20-1991,08:00,58,101.0,31,PRE_BREAKFAST,1991-05-20 08:00:00
1,05-20-1991,08:00,33,5.0,31,REGULAR_INSULIN_DOSE,1991-05-20 08:00:00
2,05-20-1991,08:00,34,27.0,31,NPH_INSULIN_DOSE,1991-05-20 08:00:00
3,05-20-1991,12:00,60,89.0,31,PRE_LUNCH,1991-05-20 12:00:00
4,05-20-1991,12:00,33,3.0,31,REGULAR_INSULIN_DOSE,1991-05-20 12:00:00

In [81]:
#This cell just shows the invalid dates and times.

df.loc[df.isnull().any(axis=1)]

,Date,Time,Code,Blood_Glucose,Patient_ID,Code_Description,Date_Time
792,04-09-1991,56:35,58,237.0,67,PRE_BREAKFAST,NaT
793,04-09-1991,56:35,33,16.0,67,REGULAR_INSULIN_DOSE,NaT
794,04-09-1991,56:35,34,40.0,67,NPH_INSULIN_DOSE,NaT
893,04-21-1991,188:00,62,128.0,67,PRE_SUPPER,NaT
894,04-21-1991,188:00,33,14.0,67,REGULAR_INSULIN_DOSE,NaT
210,05-25-1990,004,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
212,05-25-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
436,07-02-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
438,07-02-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
534,07-14-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
536,07-14-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
561,07-17-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
563,07-17-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
644,07-28-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
646,07-28-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
670,08-03-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
672,08-03-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
841,08-27-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
843,08-27-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
932,09-11-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
934,09-11-1990,018,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
1030,11-08-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
1032,11-08-1990,020,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
1145,11-29-1990,006,33,21.0,29,REGULAR_INSULIN_DOSE,NaT
1147,11-29-1990,020,33,22.0,29,REGULAR_INSULIN_DOSE,NaT
808,10-12-1989,006,33,21.0,27,REGULAR_INSULIN_DOSE,NaT
810,10-12-1989,016,33,22.0,27,REGULAR_INSULIN_DOSE,NaT
363,06-31-1991,07:50,58,149.0,20,PRE_BREAKFAST,NaT
364,06-31-1991,07:50,33,4.0,20,REGULAR_INSULIN_DOSE,NaT
365,06-31-1991,07:50,34,24.0,20,NPH_INSULIN_DOSE,NaT
366,06-31-1991,13:30,60,162.0,20,PRE_LUNCH,NaT
367,06-31-1991,13:30,33,5.0,20,REGULAR_INSULIN_DOSE,NaT
368,06-31-1991,19:45,62,213.0,20,PRE_SUPPER,NaT
369,06-31-1991,19:45,33,11.0,20,REGULAR_INSULIN_DOSE,NaT

In [128]:
#Step 4: As codes(eg: before breakfast) happen in similar time for all the days, our logic is to get a valid time from
# another row for the same patient. To achieve this we create another dataframe df_agg by grouping df by patient id
#and code. This data frame will be used to create a dictionary to simplify the next steps.

#This function return's the median time from a pandas series
def medianTime(groupSeries):
    groupSeries = np.sort(pd.to_datetime(groupSeries, format="%H:%M").dt.time)
    return str(groupSeries[int(len(groupSeries)/2)])


#Here we have used np.min to aggregate instead of np.mean as the difference between the two is negligible.
df_agg = pd.DataFrame(df.loc[df['Date_Time'].notnull()].groupby(['Patient_ID', 'Code'])['Time'].agg(medianTime))
df_agg = df_agg.reset_index()

dic = {row['Patient_ID']+"_"+row['Code']:  row['Time']  for i,row in df_agg.iterrows()}

dic

{'01_33': '12:32:00',
 '01_34': '07:54:00',
 '01_48': '22:30:00',
 '01_58': '07:54:00',
 '01_60': '12:45:00',
 '01_62': '17:21:00',
 '01_65': '15:00:00',
 '02_33': '12:00:00',
 '02_34': '08:00:00',
 '02_48': '22:00:00',
 '02_58': '08:00:00',
 '02_60': '12:00:00',
 '02_62': '18:00:00',
 '03_33': '07:07:00',
 '03_34': '16:55:00',
 '03_35': '08:09:00',
 '03_56': '06:24:00',
 '03_57': '16:42:00',
 '03_58': '06:19:00',
 '03_60': '11:26:00',
 '03_61': '11:48:00',
 '03_62': '16:49:00',
 '03_63': '21:05:00',
 '03_64': '22:01:00',
 '03_65': '16:28:00',
 '03_67': '16:24:00',
 '03_72': '07:48:00',
 '04_33': '08:16:00',
 '04_34': '16:15:00',
 '04_35': '16:57:00',
 '04_56': '17:04:00',
 '04_57': '08:21:00',
 '04_58': '06:23:00',
 '04_60': '11:47:00',
 '04_61': '17:02:00',
 '04_62': '17:02:00',
 '04_63': '20:46:00',
 '04_64': '22:09:00',
 '04_65': '07:38:00',
 '04_67': '11:42:00',
 '04_72': '07:48:00',
 '05_33': '08:16:00',
 '05_34': '08:22:00',
 '05_56': '16:09:00',
 '05_57': '11:54:00',
 '05_58': '06:14:00',
 '05_60': '11:47:00',
 '05_61': '12:53:00',
 '05_62': '16:53:00',
 '05_63': '17:32:00',
 '05_64': '22:04:00',
 '05_67': '17:18:00',
 '06_33': '12:00:00',
 '06_34': '08:00:00',
 '06_48': '22:00:00',
 '06_58': '08:00:00',
 '06_60': '12:00:00',
 '06_62': '18:00:00',
 '07_33': '12:00:00',
 '07_34': '08:00:00',
 '07_48': '22:00:00',
 '07_58': '08:00:00',
 '07_60': '12:00:00',
 '07_62': '18:00:00',
 '08_33': '18:09:00',
 '08_34': '18:09:00',
 '08_57': '14:52:00',
 '08_58': '06:43:00',
 '08_59': '09:49:00',
 '08_60': '12:00:00',
 '08_61': '14:03:00',
 '08_62': '18:59:00',
 '08_63': '20:29:00',
 '08_64': '21:41:00',
 '08_65': '10:08:00',
 '08_67': '11:04:00',
 '08_68': '13:00:00',
 '08_69': '17:54:00',
 '08_72': '11:55:00',
 '09_33': '16:33:00',
 '09_34': '22:26:00',
 '09_57': '10:47:00',
 '09_58': '07:33:00',
 '09_60': '11:53:00',
 '09_61': '16:27:00',
 '09_62': '18:42:00',
 '09_63': '19:12:00',
 '09_64': '22:21:00',
 '09_66': '10:00:00',
 '09_68': '10:00:00',
 '09_69': '10:00:00',
 '09_70': '10:00:00',
 '09_71': '10:00:00',
 '09_72': '11:35:00',
 '10_33': '18:00:00',
 '10_34': '08:00:00',
 '10_48': '22:00:00',
 '10_58': '08:00:00',
 '10_60': '12:00:00',
 '10_62': '18:00:00',
 '11_33': '09:21:00',
 '11_34': '10:20:00',
 '11_56': '18:32:00',
 '11_57': '06:55:00',
 '11_58': '08:43:00',
 '11_59': '10:28:00',
 '11_60': '12:31:00',
 '11_61': '13:33:00',
 '11_62': '18:24:00',
 '11_64': '22:27:00',
 '11_65': '12:11:00',
 '11_66': '09:23:00',
 '11_67': '18:47:00',
 '11_69': '18:49:00',
 '11_70': '22:29:00',
 '11_71': '23:01:00',
 '11_72': '10:52:00',
 '12_33': '09:21:00',
 '12_34': '09:42:00',
 '12_56': '18:32:00',
 '12_57': '13:05:00',
 '12_58': '08:37:00',
 '12_59': '10:28:00',
 '12_60': '12:10:00',
 '12_61': '13:08:00',
 '12_62': '18:28:00',
 '12_64': '22:14:00',
 '12_65': '12:06:00',
 '12_66': '07:23:00',
 '12_67': '18:30:00',
 '12_69': '18:49:00',
 '12_70': '20:02:00',
 '12_71': '23:01:00',
 '12_72': '10:20:00',
 '13_33': '09:59:00',
 '13_34': '17:33:00',
 '13_57': '09:21:00',
 '13_58': '06:07:00',
 '13_60': '11:19:00',
 '13_62': '18:17:00',
 '13_64': '21:35:00',
 '13_65': '17:33:00',
 '13_67': '15:27:00',
 '13_68': '17:10:00',
 '13_69': '18:23:00',
 '13_70': '19:21:00',
 '13_71': '18:30:00',
 '14_33': '07:45:00',
 '14_34': '08:29:00',
 '14_58': '07:05:00',
 '14_59': '10:21:00',
 '14_62': '18:30:00',
 '14_64': '21:55:00',
 '14_65': '18:33:00',
 '14_66': '17:30:00',
 '14_67': '07:16:00',
 '14_69': '18:34:00',
 '14_70': '21:22:00',
 '14_71': '21:03:00',
 '14_72': '08:12:00',
 '15_33': '08:46:00',
 '15_34': '09:25:00',
 '15_58': '07:31:00',
 '15_59': '11:39:00',
 '15_60': '12:30:00',
 '15_62': '18:24:00',
 '15_64': '22:05:00',
 '15_65': '07:39:00',
 '15_66': '16:34:00',
 '15_67': '08:48:00',
 '15_70': '22:05:00',
 '15_71': '17:09:00',
 '15_72': '19:07:00',
 '16_33': '09:36:00',
 '16_34': '09:53:00',
 '16_58': '08:24:00',
 '16_59': '09:28:00',
 '16_62': '18:46:00',
 '16_64': '22:21:00',
 '16_65': '07:49:00',
 '16_67': '10:14:00',
 '16_70': '23:46:00',
 '16_71': '19:30:00',
 '16_72': '19:30:00',
 '17_33': '16:49:00',
 '17_34': '08:52:00',
 '17_56': '21:35:00',
 '17_57': '10:30:00',
 '17_58': '07:37:00',
 '17_60': '11:54:00',
 '17_62': '16:58:00',
 '17_64': '21:43:00',
 '17_65': '09:48:00',
 '17_69': '19:54:00',
 '17_70': '19:36:00',
 '17_71': '17:37:00',
 '17_72': '11:56:00',
 '18_33': '16:49:00',
 '18_34': '08:40:00',
 '18_56': '17:28:00',
 '18_57': '15:09:00',
 '18_58': '07:23:00',
 '18_60': '11:55:00',
 '18_62': '17:02:00',
 '18_64': '21:39:00',
 '18_65': '15:05:00',
 '18_70': '20:01:00',
 '18_71': '22:25:00',
 '18_72': '17:19:00',
 '19_33': '16:48:00',
 '19_34': '09:17:00',
 '19_56': '17:30:00',
 '19_57': '14:28:00',
 '19_58': '07:25:00',
 '19_60': '11:54:00',
 '19_61': '12:17:00',
 '19_62': '17:04:00',
 '19_64': '21:43:00',
 '19_65': '14:07:00',
 '19_67': '17:06:00',
 '19_69': '14:04:00',
 '19_70': '20:25:00',
 '19_71': '12:29:00',
 '19_72': '15:15:00',
 '20_33': '12:05:00',
 '20_34': '06:50:00',
 '20_4': '06:00:00',
 '20_48': '22:30:00',
 '20_58': '06:50:00',
 '20_60': '12:00:00',
 '20_62': '18:15:00',
 '21_33': '12:00:00',
 '21_34': '18:00:00',
 '21_48': '22:00:00',
 '21_58': '08:00:00',
 '21_60': '12:00:00',
 '21_62': '18:00:00',
 '22_33': '17:52:00',
 '22_35': '18:00:00',
 '22_36': '22:06:00',
 '22_56': '22:38:00',
 '22_57': '17:58:00',
 '23_33': '17:01:00',
 '23_34': '18:03:00',
 '23_56': '22:25:00',
 '23_57': '17:44:00',
 '23_58': '09:25:00',
 '23_62': '18:07:00',
 '23_64': '22:14:00',
 '23_65': '22:41:00',
 '23_66': '09:18:00',
 '23_67': '22:25:00',
 '23_70': '22:54:00',
 '23_71': '23:02:00',
 '24_33': '17:20:00',
 '24_34': '17:46:00',
 '24_57': '16:53:00',
 '24_58': '08:37:00',
 '24_62': '18:53:00',
 '24_63': '18:56:00',
 '24_64': '22:08:00',
 '25_33': '17:22:00',
 '25_34': '08:18:00',
 '25_56': '17:20:00',
 '25_57': '18:12:00',
 '25_60': '12:09:00',
 '25_64': '21:13:00',
 '25_65': '21:32:00',
 '25_66': '16:00:00',
 '26_33': '12:00:00',
 '26_34': '08:00:00',
 '26_48': '22:00:00',
 '26_58': '08:00:00',
 '26_60': '12:00:00',
 '26_62': '18:00:00',
 '27_33': '12:30:00',
 '27_34': '07:00:00',
 '27_48': '22:30:00',
 '27_58': '07:00:00',
 '27_60': '12:30:00',
 '27_62': '18:00:00',
 '28_33': '12:00:00',
 '28_34': '07:00:00',
 '28_48': '22:30:00',
 '28_58': '07:00:00',
 '28_60': '12:30:00',
 '28_62': '18:00:00',
 '29_33': '12:30:00',
 '29_34': '07:00:00',
 '29_48': '22:00:00',
 '29_58': '07:00:00',
 '29_60': '12:00:00',
 '29_62': '18:00:00',
 '30_33': '12:00:00',
 '30_34': '07:00:00',
 '30_48': '22:00:00',
 '30_58': '07:00:00',
 '30_60': '12:00:00',
 '30_62': '18:00:00',
 '31_33': '12:00:00',
 '31_34': '08:00:00',
 '31_48': '22:00:00',
 '31_58': '08:00:00',
 '31_60': '12:00:00',
 '31_62': '18:00:00',
 '32_33': '18:02:00',
 '32_34': '22:24:00',
 '32_56': '07:40:00',
 '32_57': '18:22:00',
 '32_58': '07:26:00',
 '32_60': '12:17:00',
 '32_62': '18:14:00',
 '32_63': '22:49:00',
 '32_64': '22:20:00',
 '32_66': '18:12:00',
 '32_67': '12:24:00',
 '32_68': '22:15:00',
 '32_70': '18:27:00',
 '32_71': '18:21:00',
 '32_72': '21:44:00',
 '33_33': '18:10:00',
 '33_34': '22:29:00',
 '33_56': '18:23:00',
 '33_57': '18:22:00',
 '33_58': '07:23:00',
 '33_59': '07:19:00',
 '33_60': '12:16:00',
 '33_62': '18:16:00',
 '33_63': '22:49:00',
 '33_64': '22:22:00',
 '33_65': '12:34:00',
 '33_67': '18:52:00',
 '33_68': '22:15:00',
 '33_69': '22:33:00',
 '33_70': '18:27:00',
 '33_71': '17:50:00',
 '33_72': '18:25:00',
 '34_33': '12:51:00',
 '34_34': '22:18:00',
 '34_56': '07:35:00',
 '34_58': '07:20:00',
 '34_59': '07:19:00',
 '34_60': '12:14:00',
 '34_62': '18:09:00',
 '34_64': '22:21:00',
 '34_65': '17:48:00',
 '34_67': '22:17:00',
 '34_69': '22:33:00',
 '34_70': '17:51:00',
 '34_71': '22:11:00',
 '35_33': '13:07:00',
 '35_34': '22:21:00',
 '35_56': '07:19:00',
 '35_57': '12:22:00',
 '35_58': '07:17:00',
 '35_60': '12:05:00',
 '35_62': '18:16:00',
 '35_64': '22:23:00',
 '35_65': '15:44:00',
 '35_67': '18:24:00',
 '35_68': '17:16:00',
 '35_70': '07:19:00',
 '35_71': '22:25:00',
 '36_33': '11:31:00',
 '36_34': '21:33:00',
 '36_56': '06:18:00',
 '36_57': '16:16:00',
 '36_58': '06:14:00',
 '36_60': '10:49:00',
 '36_62': '17:15:00',
 '36_64': '21:30:00',
 '36_65': '11:31:00',
 '36_67': '07:09:00',
 '36_68': '22:08:00',
 '36_70': '21:13:00',
 '36_71': '21:31:00',
 '36_72': '16:54:00',
 '37_33': '16:57:00',
 '37_34': '22:17:00',
 '37_57': '16:16:00',
 '37_58': '07:04:00',
 '37_59': '11:47:00',
 '37_60': '11:48:00',
 '37_62': '18:04:00',
 '37_64': '22:11:00',
 '37_65': '17:35:00',
 '37_67': '21:34:00',
 '37_71': '11:59:00',
 '37_72': '10:51:00',
 '38_33': '17:32:00',
 '38_34': '22:11:00',
 '38_58': '07:21:00',
 '38_60': '12:06:00',
 '38_62': '18:04:00',
 '38_64': '22:14:00',
 '38_65': '17:06:00',
 '38_67': '22:07:00',
 '38_71': '22:17:00',
 '38_72': '12:04:00',
 '39_33': '17:19:00',
 '39_34': '18:52:00',
 '39_58': '07:20:00',
 '39_60': '12:10:00',
 '39_62': '17:54:00',
 '39_64': '22:08:00',
 '40_33': '12:00:00',
 '40_34': '21:30:00',
 '40_57': '17:00:00',
 '40_66': '12:00:00',
 '40_69': '13:30:00',
 '41_33': '12:00:00',
 '41_34': '22:00:00',
 '41_48': '22:00:00',
 '41_58': '08:00:00',
 '41_60': '12:00:00',
 '41_62': '18:00:00',
 '42_33': '12:00:00',
 '42_34': '22:00:00',
 '42_48': '22:00:00',
 '42_58': '08:00:00',
 '42_60': '12:00:00',
 '42_62': '18:00:00',
 '43_33': '16:59:00',
 '43_34': '17:23:00',
 '43_56': '11:54:00',
 '43_57': '11:18:00',
 '43_58': '06:34:00',
 '43_60': '12:14:00',
 '43_61': '13:57:00',
 '43_62': '17:21:00',
 '43_63': '21:15:00',
 '43_64': '15:39:00',
 '43_65': '15:08:00',
 '43_66': '16:44:00',
 '43_71': '15:12:00',
 '43_72': '04:29:00',
 '44_33': '16:43:00',
 '44_34': '17:13:00',
 '44_35': '17:24:00',
 '44_57': '03:33:00',
 '44_58': '06:03:00',
 '44_60': '11:57:00',
 '44_61': '15:11:00',
 '44_62': '17:13:00',
 '44_63': '20:32:00',
 '44_64': '15:47:00',
 '44_65': '03:31:00',
 '44_72': '16:01:00',
 '45_33': '12:47:00',
 '45_34': '17:15:00',
 '45_35': '17:17:00',
 '45_57': '03:38:00',
 '45_58': '06:04:00',
 '45_60': '12:03:00',
 '45_62': '17:13:00',
 '45_63': '20:51:00',
 '45_64': '15:32:00',
 '45_65': '03:40:00',
 '45_72': '03:34:00',
 '46_33': '17:20:00',
 '46_34': '17:26:00',
 '46_57': '09:25:00',
 '46_58': '05:57:00',
 '46_59': '09:22:00',
 '46_60': '11:42:00',
 '46_61': '15:11:00',
 '46_62': '17:20:00',
 '46_63': '20:47:00',
 '46_64': '16:00:00',
 '46_65': '02:49:00',
 '47_33': '17:08:00',
 '47_34': '17:14:00',
 '47_57': '02:37:00',
 '47_58': '06:13:00',
 '47_59': '09:39:00',
 '47_60': '11:58:00',
 '47_62': '16:59:00',
 '47_63': '20:53:00',
 '47_64': '15:37:00',
 '47_65': '02:39:00',
 '47_72': '01:05:00',
 '48_33': '16:32:00',
 '48_34': '17:40:00',
 '48_57': '03:12:00',
 '48_58': '06:05:00',
 '48_59': '09:22:00',
 '48_60': '12:03:00',
 '48_62': '16:51:00',
 '48_63': '20:40:00',
 '48_64': '16:01:00',
 '48_65': '03:14:00',
 '48_72': '00:28:00',
 '49_56': '12:23:00',
 '49_57': '16:22:00',
 '49_58': '06:04:00',
 '49_59': '09:58:00',
 '49_60': '11:42:00',
 '49_62': '16:31:00',
 '49_64': '20:39:00',
 '49_65': '11:46:00',
 '49_67': '06:51:00',
 '49_68': '05:52:00',
 '49_69': '20:45:00',
 '49_70': '11:51:00',
 '49_72': '11:58:00',
 '50_56': '06:31:00',
 '50_57': '16:32:00',
 '50_58': '06:00:00',
 '50_60': '11:38:00',
 '50_62': '16:35:00',
 '50_63': '18:16:00',
 '50_64': '20:39:00',
 '50_67': '05:54:00',
 '50_69': '16:40:00',
 '50_70': '11:36:00',
 '50_72': '11:58:00',
 '51_33': '16:19:00',
 '51_34': '06:29:00',
 '51_35': '20:26:00',
 '51_56': '11:49:00',
 '51_57': '11:25:00',
 '51_58': '05:43:00',
 '51_60': '11:30:00',
 '51_62': '16:20:00',
 '51_64': '20:33:00',
 '51_65': '06:06:00',
 '51_67': '16:19:00',
 '51_68': '15:56:00',
 '51_70': '11:33:00',
 '51_71': '16:23:00',
 '51_72': '14:18:00',
 '52_33': '16:19:00',
 '52_34': '06:50:00',
 '52_35': '05:28:00',
 '52_56': '18:40:00',
 '52_57': '16:17:00',
 '52_58': '05:44:00',
 '52_60': '11:30:00',
 '52_62': '16:32:00',
 '52_64': '20:39:00',
 '52_66': '11:34:00',
 '52_67': '16:12:00',
 '52_68': '15:56:00',
 '52_70': '11:43:00',
 '52_71': '16:57:00',
 '52_72': '05:40:00',
 '53_33': '08:00:00',
 '53_34': '08:00:00',
 '53_48': '22:00:00',
 '53_58': '08:00:00',
 '53_62': '18:00:00',
 '54_33': '12:00:00',
 '54_35': '07:00:00',
 '54_48': '23:00:00',
 '54_58': '07:00:00',
 '54_60': '12:20:00',
 '54_62': '18:00:00',
 '54_67': '23:00:00',
 '54_68': '13:30:00',
 '55_33': '12:00:00',
 '55_34': '22:00:00',
 '55_35': '08:00:00',
 '55_48': '22:00:00',
 '55_57': '03:00:00',
 '55_58': '08:00:00',
 '55_60': '12:00:00',
 '55_62': '18:00:00',
 '55_65': '12:00:00',
 '55_66': '03:00:00',
 '55_68': '12:00:00',
 '56_33': '12:00:00',
 '56_35': '08:00:00',
 '56_48': '22:00:00',
 '56_57': '02:30:00',
 '56_58': '08:00:00',
 '56_60': '12:00:00',
 '56_61': '13:00:00',
 '56_62': '18:00:00',
 '56_66': '03:00:00',
 '56_67': '22:00:00',
 '57_33': '16:59:00',
 '57_34': '12:10:00',
 '57_35': '21:43:00',
 '57_56': '21:53:00',
 '57_57': '17:33:00',
 '57_58': '05:45:00',
 '57_60': '11:53:00',
 '57_61': '13:29:00',
 '57_62': '17:30:00',
 '57_63': '19:48:00',
 '57_64': '20:52:00',
 '57_65': '12:13:00',
 '57_66': '12:05:00',
 '57_67': '22:32:00',
 '57_68': '19:16:00',
 '57_69': '04:25:00',
 '57_71': '16:59:00',
 '57_72': '18:29:00',
 '58_33': '13:23:00',
 '58_34': '07:29:00',
 '58_35': '07:25:00',
 '58_57': '20:16:00',
 '58_58': '05:42:00',
 '58_60': '11:54:00',
 '58_61': '14:15:00',
 '58_62': '17:28:00',
 '58_63': '20:16:00',
 '58_64': '21:17:00',
 '58_65': '17:10:00',
 '58_67': '05:54:00',
 '58_69': '11:12:00',
 '58_70': '12:55:00',
 '58_71': '05:51:00',
 '58_72': '11:58:00',
 '59_33': '12:16:00',
 '59_34': '07:44:00',
 '59_35': '05:52:00',
 '59_57': '19:27:00',
 '59_58': '05:49:00',
 '59_60': '11:54:00',
 '59_61': '11:54:00',
 '59_62': '17:27:00',
 '59_63': '20:16:00',
 '59_64': '21:16:00',
 '59_65': '17:10:00',
 '59_66': '12:31:00',
 '59_67': '06:07:00',
 '59_69': '04:30:00',
 '59_71': '16:35:00',
 '59_72': '16:11:00',
 '60_33': '12:18:00',
 '60_35': '17:26:00',
 '60_57': '14:47:00',
 '60_58': '06:05:00',
 '60_60': '11:51:00',
 '60_61': '13:54:00',
 '60_62': '17:23:00',
 '60_63': '19:30:00',
 '60_64': '21:16:00',
 '60_66': '18:00:00',
 '60_67': '09:09:00',
 '60_68': '12:04:00',
 '60_69': '21:22:00',
 '60_70': '19:32:00',
 '60_72': '11:52:00',
 '61_33': '13:43:00',
 '61_34': '11:51:00',
 '61_35': '14:48:00',
 '61_57': '17:01:00',
 '61_58': '06:06:00',
 '61_60': '11:59:00',
 '61_61': '15:02:00',
 '61_62': '17:04:00',
 '61_63': '19:34:00',
 '61_64': '21:28:00',
 '61_67': '21:31:00',
 '61_68': '11:54:00',
 '61_69': '21:31:00',
 '61_70': '20:38:00',
 '62_33': '13:11:00',
 '62_35': '06:46:00',
 '62_57': '22:40:00',
 '62_58': '06:09:00',
 '62_59': '09:13:00',
 '62_60': '11:51:00',
 '62_61': '14:45:00',
 '62_62': '17:01:00',
 '62_63': '18:59:00',
 '62_64': '21:25:00',
 '62_65': '16:18:00',
 '62_67': '16:31:00',
 '62_68': '11:59:00',
 '62_69': '21:08:00',
 '62_70': '21:05:00',
 '62_71': '07:46:00',
 '63_33': '15:28:00',
 '63_35': '06:21:00',
 '63_57': '17:05:00',
 '63_58': '06:23:00',
 '63_60': '11:55:00',
 '63_61': '15:47:00',
 '63_62': '17:47:00',
 '63_63': '19:48:00',
 '63_64': '21:07:00',
 '63_65': '14:19:00',
 '63_67': '14:19:00',
 '63_68': '11:55:00',
 '63_69': '18:19:00',
 '64_57': '16:30:00',
 '64_69': '16:00:00',
 '65_33': '12:10:00',
 '65_34': '20:20:00',
 '65_35': '06:40:00',
 '65_48': '22:50:00',
 '65_58': '06:40:00',
 '65_60': '12:10:00',
 '65_62': '18:15:00',
 '65_65': '03:30:00',
 '65_67': '03:00:00',
 '66_33': '12:15:00',
 '66_35': '06:30:00',
 '66_57': '12:15:00',
 '66_65': '21:30:00',
 '66_66': '12:15:00',
 '67_33': '12:05:00',
 '67_34': '06:35:00',
 '67_48': '23:00:00',
 '67_58': '06:40:00',
 '67_59': '11:15:00',
 '67_60': '12:05:00',
 '67_62': '18:20:00',
 '67_65': '10:30:00',
 '67_67': '04:50:00',
 '68_34': '08:00:00',
 '68_48': '22:00:00',
 '68_58': '08:00:00',
 '68_60': '12:00:00',
 '68_62': '18:00:00',
 '69_56': '13:02:00',
 '69_57': '16:46:00',
 '69_63': '07:56:00',
 '70_33': '12:00:00',
 '70_34': '08:00:00',
 '70_48': '22:00:00',
 '70_58': '08:00:00',
 '70_60': '12:00:00',
 '70_62': '18:00:00'}

In [144]:
#Step 5: Use the above dictionary to replace the invalid times. Repeat to_datetime method to see if all times are valid.

def replaceTimeFromAggDf(row):
    print (df_agg.loc[((df_agg['Patient_ID']==row['Patient_ID']) & (df_agg['Code']==row['Code'])),'Time'])
    return df_agg.loc[((df_agg['Patient_ID']==row['Patient_ID']) & (df_agg['Code']==row['Code'])),'Time']

df.loc[df.isnull().any(axis=1),'Time'] = df.loc[df.isnull().any(axis=1)].apply(lambda row : dic[row['Patient_ID']+"_"+row['Code']], axis=1)


df['Date_Time'] = pd.to_datetime(df['Date'].str.strip()+" "+df['Time'].str.strip(), 
                                 format="%m-%d-%Y %H:%M:%S", errors="coerce")

#We can see that there are still invalid date_time. From the data below it's clear that this time its the date that is
#causing the problem.
df.loc[df.isnull().any(axis=1)]
df_agg.loc[((df_agg['Patient_ID']=='20') & (df_agg['Code']=='58')),'Time']

228    06:50:00
Name: Time, dtype: object

In [85]:
df.loc[((df['Patient_ID']=='20') & (df['Date']=='06-29-1991'))]

,Date,Time,Code,Blood_Glucose,Patient_ID,Code_Description,Date_Time
355,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,58,379.0,20,PRE_BREAKFAST,NaT
356,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,33,9.0,20,REGULAR_INSULIN_DOSE,NaT
357,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,34,24.0,20,NPH_INSULIN_DOSE,NaT
358,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,60,180.0,20,PRE_LUNCH,NaT
359,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,33,5.0,20,REGULAR_INSULIN_DOSE,NaT
360,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,62,119.0,20,PRE_SUPPER,NaT
361,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,33,9.0,20,REGULAR_INSULIN_DOSE,NaT
362,06-29-1991,<function replaceTimeFromAggDf at 0x110163d90>,48,177.0,20,UNKNOWN,NaT

In [86]:
df.loc[((df['Patient_ID']=='20') & (df['Date']=='06-30-1991'))]

Empty DataFrame
Columns: [Date, Time, Code, Blood_Glucose, Patient_ID, Code_Description, Date_Time]
Index: []

In [87]:
df.loc[((df['Patient_ID']=='20') & (df['Date']=='07-01-1991'))]

,Date,Time,Code,Blood_Glucose,Patient_ID,Code_Description,Date_Time
370,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,58,174.0,20,PRE_BREAKFAST,NaT
371,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,33,5.0,20,REGULAR_INSULIN_DOSE,NaT
372,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,34,24.0,20,NPH_INSULIN_DOSE,NaT
373,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,60,62.0,20,PRE_LUNCH,NaT
374,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,33,3.0,20,REGULAR_INSULIN_DOSE,NaT
375,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,62,294.0,20,PRE_SUPPER,NaT
376,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,33,12.0,20,REGULAR_INSULIN_DOSE,NaT
377,07-01-1991,<function replaceTimeFromAggDf at 0x110163d90>,48,111.0,20,UNKNOWN,NaT

In [88]:
#Step 6: By comparing the above 3 values, we can see that there are no records for 06/30. We can assume that its a typo and
#replace 06/31 with 06/30. We will again repeat the date time conversion

df.loc[df.isnull().any(axis=1), 'Date'] = '06-30-1990'

df['Date_Time'] = pd.to_datetime(df['Date'].str.strip()+" "+df['Time'].str.strip(), 
                                 format="%m-%d-%Y %H:%M:%S", errors="coerce")

In [71]:
#Finally we see that all dates and times are valid.

df.loc[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Date, Time, Code, Blood_Glucose, Patient_ID, Code_Description, Date_Time]
Index: []

In [72]:
#Step 7: We drop the seperate date and time columns as they are no longer needed.

df = df.drop(['Date', 'Time'], axis=1)

#Memory cleanup.
del df_agg
del dic

In [73]:
## A sample of the data frame after cleanup.

df.head()

  Code  Blood_Glucose Patient_ID      Code_Description           Date_Time
0   58          101.0         31         PRE_BREAKFAST 1991-05-20 08:00:00
1   33            5.0         31  REGULAR_INSULIN_DOSE 1991-05-20 12:00:00
2   34           27.0         31      NPH_INSULIN_DOSE 1991-05-20 08:00:00
3   60           89.0         31             PRE_LUNCH 1991-05-20 12:00:00
4   33            3.0         31  REGULAR_INSULIN_DOSE 1991-05-20 12:00:00

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28253 entries, 0 to 299
Data columns (total 5 columns):
Code                28253 non-null object
Blood_Glucose       28253 non-null float64
Patient_ID          28253 non-null object
Code_Description    28253 non-null object
Date_Time           28253 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.3+ MB