<H1 style="text-align: center;">Hypoglycemia Detection</H1>
<H3 style="text-align: center;">Machine Learning</H3>
###Imports

In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from datetime import datetime
import seaborn as sns
import copy
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from datetime import datetime, timedelta

###Read Cleaned File

In [34]:
df = pd.DataFrame([]) # defining a dataframe
df = pd.read_csv('../Data/Cleaned/data.csv')

df['Code'] = df['Code'].astype('category')

df['Date_Time'] = pd.to_datetime(df['Date_Time'].str.strip(), 
                                 format="%Y-%m-%d %H:%M:%S", errors="raise")

df.head()

  Code  Blood_Glucose  Patient_ID      Code_Description           Date_Time
0   58          101.0          31         PRE_BREAKFAST 1991-05-20 08:00:00
1   33            5.0          31  REGULAR_INSULIN_DOSE 1991-05-20 12:00:00
2   34           27.0          31      NPH_INSULIN_DOSE 1991-05-20 08:00:00
3   60           89.0          31             PRE_LUNCH 1991-05-20 12:00:00
4   33            3.0          31  REGULAR_INSULIN_DOSE 1991-05-20 12:00:00

In [35]:
df_pivot = pd.pivot_table(df, values='Blood_Glucose', index='Patient_ID',
                     columns=['Code_Description'], aggfunc=np.median)

In [36]:
df_pivot['Hypo_Flag'] = df_pivot['HYPOGLYCEMIC_SYMPTOMS'].notnull()
df_pivot = df_pivot.drop(['HYPOGLYCEMIC_SYMPTOMS'], axis=1)

In [37]:
df_pivot.head()

Code_Description,LESS_EXERCISE,LESS_MEAL_INJESTION,MORE_EXERCISE,MORE_MEAL_INJESTION,NPH_INSULIN_DOSE,POST_BREAKFAST,POST_LUNCH,POST_SUPPER,PRE_BREAKFAST,PRE_LUNCH,PRE_SNACK,PRE_SUPPER,REGULAR_INSULIN_DOSE,TYPICAL_EXERCISE,TYPICAL_MEAL_INJESTION,ULTRALENTE_INSULIN_DOSE,UNKNOWN,Hypo_Flag
Patient_ID,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,163.0,135.0,NaN,156.0,7.0,NaN,NaN,NaN,133.0,True
2,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,215.0,169.0,NaN,181.0,10.0,NaN,NaN,NaN,198.0,False
3,NaN,NaN,NaN,0.0,8.0,NaN,178.0,200.0,99.0,65.0,116.0,170.0,3.0,NaN,NaN,8.0,115.0,True
4,NaN,NaN,NaN,0.0,8.0,NaN,187.5,250.5,123.0,100.0,161.0,223.0,3.0,NaN,NaN,8.0,141.5,True
5,NaN,NaN,NaN,0.0,8.0,NaN,166.0,249.5,140.0,115.5,154.5,230.0,3.0,NaN,NaN,NaN,171.0,False

In [103]:
df_pivot = df_pivot.fillna(0)

data_array = df_pivot.values

Xs = np.array(data_array[:,0:-1], dtype='f')
ys =  np.array(data_array[:,-1], dtype='f')

X_train, X_test,y_train,  y_test = train_test_split(Xs,ys, test_size=0.3, random_state=20)

In [100]:
type(Xs)

numpy.ndarray

In [109]:
scaler = StandardScaler()
treeClassifier = DecisionTreeClassifier()

param_dist = {"max_depth": [5, None],
              "criterion": ["gini", "entropy"]}
c_space = np.logspace(-5, 8, 15)
param_grid = {'C': c_space, 'penalty': ['l1', 'l2']}

gCV = GridSearchCV(treeClassifier , param_dist,cv=5 )
gCV.fit(X_train, y_train)

print("Best score is {}".format(gCV.best_score_))

Best score is 0.9183673469387755

In [110]:
scaler = StandardScaler()
logreg = LogisticRegression()
c_space = np.logspace(-5, 8, 15)
param_grid = {'C': c_space, 'penalty': ['l1', 'l2']}

# Instantiate the GridSearchCV object: logreg_cv
logreg_cv = GridSearchCV(logreg, param_grid, cv=5 )

# Fit it to the training data
logreg_cv.fit(X_train, y_train)

# Print the optimal parameters and best score
print("Tuned Logistic Regression Parameter: {}".format(logreg_cv.best_params_))
print("Tuned Logistic Regression Accuracy: {}".format(logreg_cv.best_score_))

Tuned Logistic Regression Parameter: {'C': 1.0000000000000001e-05, 'penalty': 'l2'}
Tuned Logistic Regression Accuracy: 0.9183673469387755

In [114]:
logreg_cv.predict(X_test)

gCV.score(X_test, y_test)

0.61904761904761907

In [118]:
df['Date_Time'] = pd.to_datetime(df['Date_Time'])

In [162]:
datetime.combine(df.iloc[0,4].date() - timedelta((df.iloc[0].Date_Time - pd.to_datetime('1990-01-01')).days),
                df.iloc[0,4].time())

datetime.datetime(1990, 1, 1, 8, 0)

In [161]:
df.iloc[0,4]

Timestamp('1991-05-20 08:00:00')

In [160]:
datetime.combine(x, df.iloc[0,4].time())

datetime.datetime(1990, 1, 1, 8, 0)

In [168]:
df['Date_Time'] - pd.to_datetime('1900-01-01', format='%Y-%m-%d').head()

AttributeError: 'Timestamp' object has no attribute 'head'

In [171]:
df['Date_Time'] - df['Date_Time'].min().head()

AttributeError: 'Timestamp' object has no attribute 'head'

In [180]:


for i in range(1, 70):
    df.loc[df['Patient_ID']==i,'time_delta'] = df.loc[df['Patient_ID']==i,'Date_Time'] - df.loc[df['Patient_ID']==i,'Date_Time'].min()

4462     0 days 00:00:00
4463     0 days 04:38:00
4464     0 days 00:00:00
4465     0 days 09:27:00
4466     0 days 04:38:00
4467     0 days 14:36:00
4468     1 days 00:00:00
4469     1 days 04:38:00
4470     1 days 00:00:00
4471     1 days 04:38:00
4472     1 days 09:27:00
4473     1 days 04:38:00
4474     2 days 00:00:00
4475     2 days 04:38:00
4476     2 days 00:00:00
4477     2 days 09:27:00
4478     2 days 04:38:00
4479     3 days 00:00:00
4480     3 days 04:38:00
4481     3 days 00:00:00
4482     3 days 04:38:00
4483     3 days 09:27:00
4484     3 days 14:36:00
4485     3 days 04:38:00
4486     4 days 00:00:00
4487     4 days 04:38:00
4488     4 days 00:00:00
4489     4 days 04:38:00
4490     4 days 09:27:00
4491     4 days 04:38:00
              ...
5332   130 days 04:38:00
5333   130 days 00:00:00
5334   130 days 09:27:00
5335   130 days 04:38:00
5336   131 days 00:00:00
5337   131 days 04:38:00
5338   131 days 00:00:00
5339   131 days 04:38:00
5340   131 days 09:27:00
5341   131 days 04:38:00
5342   132 days 00:00:00
5343   132 days 04:38:00
5344   132 days 00:00:00
5345   132 days 09:27:00
5346   132 days 04:38:00
5347   132 days 14:36:00
5348   132 days 04:38:00
5349   133 days 00:00:00
5350   133 days 04:38:00
5351   133 days 00:00:00
5352   133 days 14:36:00
5353   134 days 04:38:00
5354   134 days 00:00:00
5355   134 days 04:38:00
5356   134 days 09:27:00
5357   134 days 04:38:00
5358   134 days 14:36:00
5359   135 days 00:00:00
5360   135 days 04:38:00
5361   135 days 00:00:00
Name: time_delta, Length: 900, dtype: timedelta64[ns]